<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Web期末作业</title>
	<link rel="stylesheet" type="text/css" href="font-awesome-4.5.0/ux_1463926481_030905/demo.css">
	<link rel="stylesheet" type="text/css" href="font-awesome-4.5.0/ux_1463806363_10072/iconfont.css">
	<link rel="stylesheet" type="text/css" href="font-awesome-4.5.0/ux_1464012409_6280317/iconfont.css">
	<link rel="stylesheet" type="text/css" href="font-awesome-4.5.0/ux_1464871018_933722/iconfont.css">
	<link rel="stylesheet" type="text/css" href="font-awesome-4.5.0/ux_1463996315_7373955/iconfont.css">
	<link rel="stylesheet" type="text/css" href="font-awesome-4.5.0/ux_1463926481_030905/iconfont.css">
	<link rel="icon" href="img/taobao.jpg" type="image/x-icon"/>
	<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/newwork.css">
	<link type="text/css" rel="stylesheet" media="screen" href="font-awesome-4.5.0/css/font-awesome.min.css">


</head>
<body >
	<div class="top_line">
		<div class="top_line_center">
			<ul class="top_line_center_left">
				<li class="li_floft top_line_center_left_name">
					<a href="" class="top_line_name">这里是名字</a>
					<i class="fa fa-angle-down top_line_name_jiantou"></i>				
				</li>
				<li class="li_floft top_line_center_left_msg">
					<i class="fa fa-envelope top_line_msg_envelope"></i>
					<p class="top_line_msg">消息</p>
					<i class="fa fa-angle-down top_line_msg_jiantou"></i>				
				</li>
				<li class="li_floft top_line_center_left_mobile">
					<a href="" class="top_line_mobile">手机逛淘宝</a>
				</li>
			</ul>
			<ul class="top_line_right">
				<li class="li_floft top_line_right_mytaobao">
					<a class="top_line_mytaobao">我的淘宝</a>
					<i style="margin-left: 6px;" class="fa fa-angle-down top_line_msg_jiantou"></i>				
				</li>
				<li class="li_floft top_line_right_gouwuche">
					<i style="color: #ff6537; margin-top: 4px; float: left;margin-left: 3px;" class="icon iconfont">&#xe856;</i>	
					<a class="top_line_gouwuche">购物车</a>
					<p class="top_line_gouwuche" style="color: #ff6537; font-weight: 900; margin-left: 0;">0</p>
					<i style="margin-left: 8px;" class="fa fa-angle-down top_line_msg_jiantou"></i>				

				</li>
				<li class="li_floft top_line_right_shoucangjia">
					<i style="font-size: 12px; margin-top: 8px; float: left;margin-left: 10px;" class="icon iconfont">&#xe620;</i>	
					<a class="top_line_gouwuche">收藏夹</a>
					<i style="margin-left: 8px;" class="fa fa-angle-down top_line_msg_jiantou"></i>				
				</li>
				<li>
					<a class="top_line_gouwuche" style="margin-left: 8px;">商品分类</a>
				</li>
				<li>
					<p class="top_line_gouwuche" style="margin-left: 19px;color:#B8B8B8; ">|</p>
				</li>
				<li class="li_floft top_line_maijiazhongxin">
					<a href="" class="top_line_name" style="">卖家中心</a>
					<i style="margin-left: 2px;" class="fa fa-angle-down top_line_msg_jiantou"></i>				

				</li>
				<li class="li_floft top_line_contact">
					<a href="" class="top_line_gouwuche" style="">联系客服</a>
					<i style="margin-left: 8px;" class="fa fa-angle-down top_line_msg_jiantou"></i>				
				</li>
				<li class="li_floft top_line_daohang">
					<i style="color: #ff6537;  float: left;margin-left: 3px;font-size: 8px;" class="icon iconfont">&#xe61a;</i>	
					<a href="" class="top_line_gouwuche" style="">网站导航</a>
					<i style="margin-left: 5px;" class="fa fa-angle-down top_line_msg_jiantou"></i>				
				</li>
			</ul>

		</div>
		
		<div class="content_line">
			<div class="name_content">
				<img src="img/touxiang.jpg" class="img-circle name_content_touxiang" alt="">
				<a href="" class="font name_content_common name_content_zhanghao">账号管理</a>
				<p class="name_content_shuxian">|</p>
				<a href="" class="name_content_common font name_congtent_tuichu">退出</a>
				<div class="hengxian"></div>
				<div class="beneath_hengxian">
					<div class="beneath_hengxian_first">
						<div class="beneath_hengxian_second">
							<img class="beneath_tupian" src="img/huiyuanshengji.png" alt="">
							<p class="beneath_wenzi">会员升级</p>
						</div>
						<div class="beneath_hengxian_second">							
							<img class="beneath_tupian" src="img/baibihaoli.png" alt="">
							<p class="beneath_wenzi">百笔好礼</p>
						</div>
						<div class="beneath_hengxian_second">
							<img class="beneath_tupian" src="img/baitianhaoli.png" alt="">
							<p class="beneath_wenzi">百天好礼</p>
						</div>
						<div class="beneath_hengxian_second">
							<img class="beneath_tupian" src="img/haopingdaren.png" alt="">
							<p class="beneath_wenzi">好评达人</p>
						</div>
					</div>
					<div style="bottom: 62px;" class="beneath_hengxian_first">
						<div class="beneath_hengxian_second">
							<img class="beneath_tupian" src="img/huiyuanshengji.png" alt="">
							<p class="beneath_wenzi">会员升级</p>
						</div>
						<div class="beneath_hengxian_second">							
							<img class="beneath_tupian" src="img/baibihaoli.png" alt="">
							<p class="beneath_wenzi">百笔好礼</p>
						</div>
						<div class="beneath_hengxian_second">
							<img class="beneath_tupian" src="img/baitianhaoli.png" alt="">
							<p class="beneath_wenzi">百天好礼</p>
						</div>
						<div class="beneath_hengxian_second">
							<img class="beneath_tupian" src="img/haopingdaren.png" alt="">
							<p class="beneath_wenzi">好评达人</p>
						</div>
					</div>
				<i id="content_line_left_icon" style="position: relative; bottom: 105px;" class="icon iconfont">&#xe779;</i>	
				<i id="content_line_right_icon" style="position: relative; bottom: 105px; left: 221px;" class="icon iconfont">&#xe775;</i>
				</div>
			</div>
			<div class="msg_content">
				<p class="msg_content_neirong">查看全部</p>
			</div>
			<div class="mytaobao_content">
				<div style="margin-top: 10px;" class="mytaobao_content_bought">
					<a  href="">已买到的宝贝</a>
				</div>
				<div class="mytaobao_content_bought">
					<a href="">我的足迹</a>
				</div>

			</div>
			<div class="gouwuche_content">
					<p style="float: left;margin-left: 45px;margin-top: 23px;font-size: 12px;">您购物车里还没有任何宝贝。</p>
					<div class="click_check_gouwuche">
						<a  style="color: #ffffff;" href="">查看我的购物车</a>
					</div>
			</div>
			<div class="shoucangjia_content">
				<div style="margin-top: 10px;" class="mytaobao_content_bought">
					<a  href="">收藏的宝贝</a>
				</div>
				<div class="mytaobao_content_bought">
					<a href="">收藏的店铺</a>
				</div>
			</div>
			<div class="daohang_content">
				<div class="danghang_congtent_second">
					<p style="width: 100%;margin-left: 8px;margin-top: 10px;font-weight: 900;color:#ff6537 ;font-size: 18px;">主题市场</p>
					<div style="margin-left: 10px;" class="danghang_congtent_third">女装</div>
					<div class="danghang_congtent_third">男装</div>
					<div class="danghang_congtent_third">内衣</div>
					<div class="danghang_congtent_third">鞋靴</div>
					<div class="donghua" style="position: absolute;margin-left: 38px;margin-top: -10px;">
						<img src="img/donghua.png" alt="">
					</div>
				</div>
				<div class="danghang_congtent_second">
					<p style="width: 100%;margin-left: 8px;margin-top: 10px;font-weight: 900;color:#A6BD46 ;font-size: 18px;">特色市场</p>
					<div style="width: 56px;margin-left: 12px;" class="danghang_content_third_1">iFashion</div>
					<div class="danghang_content_third_1">爱逛街</div>
					<div class="danghang_content_third_1">美妆秀</div>
					<div class="donghua" style="position: absolute;margin-left: 60px;margin-top: -10px;">
						<img src="img/donghua2.png" alt="">
					</div>
				</div>
				<div class="danghang_congtent_second">
					<p style="width: 100%;margin-left: 8px;margin-top: 10px;font-weight: 900;color:#d75696 ;font-size: 18px;">阿里APP</p>
					<div style="margin-left: 6px;" class="danghang_content_third_2">淘宝</div>
					<div class="danghang_content_third_2">天猫</div>
					<div class="danghang_content_third_2">支付宝</div>
					<div class="donghua" style="position: absolute;margin-left: 38px;margin-top: -10px;">
						<img src="img/donghua.png" alt="">
					</div>
				</div>
				<div class="danghang_congtent_second">
					<p style="width: 100%;margin-left: 8px;margin-top: 10px;font-weight: 900;color:#2e9fdb ;font-size: 18px;">精彩推荐集</p>
					<div style="margin-left: 6px;" class="danghang_content_third_3">余额宝</div>
					<div class="danghang_content_third_3">大牌捡宝</div>
					<div class="donghua" style="position: absolute;margin-left: 47px;margin-top: -10px;">
						<img src="img/donghua.png" alt="">
					</div>
				</div>
				<div style="height: 400px;margin-left: 25%;" class="vertical_line"></div>
				<div style="height: 100%;margin-left: 50%;" class="vertical_line"></div>
				<div style="height: 200px;margin-left: 75%;" class="vertical_line"></div>

			</div>
		</div>

	</div>
	<div class="second_line">
		<div class="second_line_logo">
			<img  src="img/taobao.png" alt="">
		</div>
		<div class="second_line_search">
			<div style="background-color: #ff6537; color: #ffffff;" class="seconde_title_line1 second_title_line">宝贝</div>
			<div class="seconde_title_line2 second_title_line">天猫</div>
			<div class="seconde_title_line3 second_title_line">店铺</div>
			<div class="second_shurukuang">
				<div class="imply">
					<i  style="float: left; margin-top: -3px;cursor: text;" class="icon iconfont">&#xe621;</i>
					<div style="float: left;">
					&nbsp;
					</div>
					<div style="float: left;" class="imply1">
					懒人必备叠衣板
					</div>
				</div>
				<input   class="second_left_input" type="text">
				
				<div class="second_right_button">
					搜索
				</div>
			</div>
			<div class="second_bottom" style="display: block;">
				<a href="" style="color: #ff6537;margin-left: 0;" class="second_bottom_content">蓝牙耳机</a>
				<a href="" class="second_bottom_content">苹果数据线</a>
				<a href="" style="color: #ff6537;" class="second_bottom_content">6s手机壳</a>
				<a href="" class="second_bottom_content">发饰</a>
				<a href="" class="second_bottom_content">手机</a>
				<a href="" style="color: #ff6537;" class="second_bottom_content">美缝剂</a>
				<a href="" class="second_bottom_content">音响</a>
				<a href="" class="second_bottom_content">男短袖衬衫</a>
				<a href="" class="second_bottom_content">自行车</a>
				<a href="" class="second_bottom_content">笔记本</a>
				<a href="" class="second_bottom_content">衬衫</a>
				<a href="" class="second_bottom_content">时尚连衣裙</a>
				<div class="second_bottom_more" style="float: right; cursor: pointer;color: #000000;">
					<a href="" style="margin-left: 17px;" class="second_bottom_content">更多</a>
					<i  style="margin-left: -3px;font-size: 12px;" class="icon iconfont">&#xe662;</i>	
				</div>
			</div>
			<div class="second_bottom" style="display: none;">
				<a href="" style="color: #C40000;margin-left: 0;" class="second_bottom_content">T恤女</a>
				<a href="" class="second_bottom_content">女童凉鞋</a>
				<a href="" style="color: #C40000;" class="second_bottom_content">短袖男</a>
				<a href="" class="second_bottom_content">亲子装</a>
				<a href="" class="second_bottom_content">运动鞋</a>
				<a href="" style="color: #C40000;" class="second_bottom_content">童装</a>
				<a href="" class="second_bottom_content">智能手机</a>
				<a href="" class="second_bottom_content">玩具</a>
				<a href="" class="second_bottom_content">手表</a>
				<a href="" class="second_bottom_content">运动文胸</a>
				<a href="" class="second_bottom_content">洗发水</a>
				<a href="" class="second_bottom_content">实木床</a>
				<div class="second_bottom_more" style="float: right; cursor: pointer;color: #000000;">
					<a href="" style="margin-left: 17px;" class="second_bottom_content">更多</a>
					<i  style="margin-left: -3px;font-size: 12px;" class="icon iconfont">&#xe662;</i>	
				</div>
			</div>
			<div class="second_highsearch">
				<a href="" >高级搜索</a>
			</div>
		</div>


	</div>
	<div class="third_line">
		<div class="third_line_left">
			<div class="third_line_left_topline">
				<div class="third_line_left_topline_content">
					主题市场
				</div>
				<i  style="color: #ffffff;font-weight: 400;float: right;margin-top: 6px;margin-right: 5px;" class="icon iconfont">&#xe78e;</i>
			</div>
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe604;</i>
				<div class="third_line_left_bottomline_content">
					女装
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					男装
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					内衣
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe62f;</i>
				<div class="third_line_left_bottomline_content">
					鞋靴
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					箱包
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					配件
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>			
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe619;</i>
				<div class="third_line_left_bottomline_content">
					童装玩具
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					孕产
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					用品
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>				
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe60d;</i>
				<div class="third_line_left_bottomline_content">
					家电
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					数码
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					手机
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>			
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe644;</i>
				<div class="third_line_left_bottomline_content">
					美妆
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					洗护
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					保健品
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>				
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe625;</i>
				<div class="third_line_left_bottomline_content">
					珠宝
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					眼睛
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					手表
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>				
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe603;</i>
				<div class="third_line_left_bottomline_content">
					运动
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					户外
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					乐器
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>					
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 16px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe640;</i>
				<div class="third_line_left_bottomline_content">
					游戏
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					动漫
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					影视
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>				
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe606;</i>
				<div class="third_line_left_bottomline_content">
					美食
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					生鲜
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					零食
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>					
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xf0005;</i>
				<div class="third_line_left_bottomline_content">
					鲜花
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					宠物
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					农资
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>				
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 16px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe621;</i>
				<div class="third_line_left_bottomline_content">
					房产
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					装修
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					建材
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>				
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe616;</i>
				<div class="third_line_left_bottomline_content">
					家具
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					家饰
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					家纺
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>			
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe603;</i>
				<div  class="third_line_left_bottomline_content">
					汽车
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					二手车
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					用品
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>							
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe6da;</i>
				<div class="third_line_left_bottomline_content">
					办公
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					DIY
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					五金电子
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>	
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe66b;</i>
				<div class="third_line_left_bottomline_content">
					百货
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					吸纳
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					家庭保健
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>				
			<div class="third_line_left_bottomline">
				<i  style="color: #ffffff;float: left;opacity:0.3;font-size: 18px;font-weight: 600;margin-left: 5px;" class="icon iconfont">&#xe647;</i>
				<div class="third_line_left_bottomline_content">
					学习
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					卡券
				</div>
				<div class="xiegang">
					/
				</div>
				<div class="third_line_left_bottomline_content">
					本地服务
				</div>
				<i  style="color: #ffffff;margin-right: 7px;font-size: 12px;float: right;" class="icon iconfont">&#xe662;</i>	
					
			</div>	
			<div style="width: 185px;height: 30px;">
				<img src="img/leftbottom.jpg" alt="" style="width: 100%;height: 100%;">
			</div>
		</div>
		<div class="third_line_left_bottomline_right">
				<div class="third_line_left_bottomline_right1">
					<div class="third_line_left_bottomline_right1_mode">
						<div class="third_line_left_bottomline_right1_mode_1">
							<img src="img/nvzhuang.jpg" style="float: left;width: 25px;height: 25px;" alt="">
							<div class="third_line_left_bottomline_right1_mode_1_title">女装</div>
							<div class="third_line_left_bottomline_right1_mode_1_more">
								<a href="" style="margin-left: 17px;" class="second_bottom_content">更多</a>
								<i  style="margin-left: -3px;font-size: 12px;" class="icon iconfont">&#xe662;</i>	
							</div>
						</div>
						<div class="third_line_left_bottomline_right1_mode_2">
							
						</div>
						<div class="third_line_left_bottomline_right1_mode_3">
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">韩版</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">新品</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">淘品牌</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">90后潮流志</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">连衣裙</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">T恤</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">裤子</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">衬衫</a>
							<a href=""  style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">雪纺/蕾丝衫</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">半身裙</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">套装</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">卫衣</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">高腰裤</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">牛仔裤</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">短外套</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">小西装</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">风衣</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">针织衫</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">阔脚裤</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">雪纺衫</a>
						</div>
					</div>
					<div class="third_line_left_bottomline_right1_mode">
						<div class="third_line_left_bottomline_right1_mode_1">
							<img src="img/nanzhuang.jpg" style="float: left;width: 25px;height: 25px;" alt="">
							<div class="third_line_left_bottomline_right1_mode_1_title">男装</div>
							<div class="third_line_left_bottomline_right1_mode_1_more">
								<a href="" style="margin-left: 17px;" class="second_bottom_content">更多</a>
								<i  style="margin-left: -3px;font-size: 12px;" class="icon iconfont">&#xe662;</i>	
							</div>
						</div>
						<div class="third_line_left_bottomline_right1_mode_2">
							
						</div>
						<div class="third_line_left_bottomline_right1_mode_3">
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">本季流行</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">夏上新</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">潮搭</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">设计款</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">品牌清仓</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">质造</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">短袖T</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">条纹T</a>
							<a href=""  style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">纯色T</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">衬衫</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">短裤</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">休闲裤</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">小脚裤</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">哈伦裤</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">运动裤</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">九分裤</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">夹克</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">薄外套</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">棒球服</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">牛仔外套</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">牛仔衬衫</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">卫衣</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">情侣装</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">运动套装</a>
						</div>
					</div>
					<div class="third_line_left_bottomline_right1_mode">
						<div class="third_line_left_bottomline_right1_mode_1">
							<img src="img/neiyi.jpg" style="float: left;width: 25px;height: 25px;" alt="">
							<div class="third_line_left_bottomline_right1_mode_1_title">内衣</div>
							<div class="third_line_left_bottomline_right1_mode_1_more">
								<a href="" style="margin-left: 17px;" class="second_bottom_content">更多</a>
								<i  style="margin-left: -3px;font-size: 12px;" class="icon iconfont">&#xe662;</i>	
							</div>
						</div>
						<div class="third_line_left_bottomline_right1_mode_2">
							
						</div>
						<div class="third_line_left_bottomline_right1_mode_3">
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">抢新品</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">薄款</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">性感</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">透视</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">抹胸</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">文胸</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">发育期</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">聚拢</a>
							<a href=""  style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">睡衣</a>
							<a href="" style="color: #FF2400;" class="third_line_left_bottomline_right1_mode_3_a">套装</a>
							<a href="" class="third_line_left_bottomline_right1_mode_3_a">胖MM</a>
						</div>
					</div>
				</div>
				<div class="third_line_left_bottomline_right2">
					<div class="third_line_left_bottomline_right2_mode1">
						<div class="third_line_left_bottomline_right2_mode1_line"></div>
						<i  style="margin-left: 3px;font-size: 16px;color:#FF2400;font-weight: 900;float: left;" class="icon iconfont">&#xe7cf;</i>	
						
						<div class="third_line_left_bottomline_right2_mode_1_title">猜你喜欢</div>

						<div class="third_line_left_bottomline_right2_mode1_line"></div>
					</div>
					<div class="third_line_left_bottomline_right2_mode2">
						实时推荐适合你的宝贝
					</div>
					<div class="third_line_left_bottomline_right2_mode3">
						<img style="width: 110px;height: 110px;" src="img/mobile.jpg" alt="">
						<div class="third_line_left_bottomline_right2_mode3_background"></div>
						<div class="third_line_left_bottomline_right2_mode3_describe">Microsoft/微软</div>
					</div>
					<div class="third_line_left_bottomline_right2_mode3">
						<img style="width: 110px;height: 110px;" src="img/mobile.jpg" alt="">
						<div class="third_line_left_bottomline_right2_mode3_background"></div>
						<div class="third_line_left_bottomline_right2_mode3_describe">Microsoft/微软</div>
					</div>
					<div class="third_line_left_bottomline_right2_mode3">
						<img style="width: 110px;height: 110px;" src="img/mobile.jpg" alt="">
						<div class="third_line_left_bottomline_right2_mode3_background"></div>
						<div class="third_line_left_bottomline_right2_mode3_describe">Microsoft/微软</div>
					</div>
					<div class="third_line_left_bottomline_right2_mode3">
						<img style="width: 110px;height: 110px;" src="img/mobile.jpg" alt="">
						<div class="third_line_left_bottomline_right2_mode3_background"></div>
						<div class="third_line_left_bottomline_right2_mode3_describe">Microsoft/微软</div>
					</div>
					<div class="third_line_left_bottomline_right2_mode3">
						<img style="width: 110px;height: 110px;" src="img/mobile.jpg" alt="">
						<div class="third_line_left_bottomline_right2_mode3_background"></div>
						<div class="third_line_left_bottomline_right2_mode3_describe">Microsoft/微软</div>
					</div>
					<div class="third_line_left_bottomline_right2_mode3">
						<img style="width: 110px;height: 110px;" src="img/mobile.jpg" alt="">
						<div class="third_line_left_bottomline_right2_mode3_background"></div>
						<div class="third_line_left_bottomline_right2_mode3_describe">Microsoft/微软</div>
					</div>
				</div>
		</div>

		<div id="third_line_centet_fuck" class="third_line_centet_top" >
			<div  v-for="item in items" class="third_line_centet_top_{{item.kind}}">{{item.message}}</div>
		</div>

		<div class="third_line_center_center" >
			<ul id="third_line_center_center_fuck">
				<li class="third_line_center_center_content"  v-for="item in items">
					<img src="{{item.src}}"  alt="">
				</li>
			</ul>
		</div>
		<div id="lunbo_pre" style="margin-left: 200px;" class="lunbo_conmon">
			<i class="icon iconfont">&#xe779;</i>
		</div>
		<div id="lunbo_next" style="margin-left: 695px" class="lunbo_conmon">
			<i class="icon iconfont">&#xe775;</i>
		</div>
		<ul class="lunbo_point">
			<li class="lunbo_five"></li>
			<li class="lunbo_five"></li>
			<li class="lunbo_five"></li>
			<li class="lunbo_five"></li>
			<li class="lunbo_five"></li>
		</ul>
		<div class="third_line_center_right">
			<img src="img/third_line_center.jpg" alt="">
		</div>
		<div class="third_line_center_bottom_line">
			<div class="left_line">
			<img style="margin-left: -1px;float: left;" src="img/heimao.png" alt="">
			<div style="float: left;margin-left: 5px;">天猫必逛</div>
			
			</div>
			<div class="right_line">
				<div style="float: left;font-size: 12px;margin-left: 5px;margin-top: 3px;color: #666666;">热门品牌，天天上天猫！</div>
				<div style="float: right;font-size: 12px;margin-top: 3px;">/6</div>
				<div id="now_picture" style="float: right;font-size: 12px;margin-top: 3px;color: #c12c26;">1</div>
			</div>
		</div>
		<div class="third_line_center_bottom" >
			<ul id="third_line_center_bottom_fuck">
				<li class="third_line_center_bottom_content"  v-for="item in items">
					<div class="variety_kind_style">
						<ul class="different" v-if="item.id == 'first_kind'">
							<li style="float: left;width: {{list.width}};height:{{list.height}};cursor: pointer; " v-for="list in item.imglist">
								<img style="width: 100%;height: 100%;" src="{{list.src}}" alt="">
							</li>
						</ul>
						<ul class="different" v-if="item.id == 'second_kind'">
							<li style="float: left;width: 33.3%;height:50%;cursor: pointer; " v-for="list in item.imglist">
								<img style="width: 100%;height: 100%;" src="{{list.src}}" alt="">
							</li>
						</ul>
						<ul class="different" v-if="item.id == 'third_kind'">
							<li style="float: left;width: 25%;height:33.3%;cursor: pointer; " v-for="list in item.imglist">
								<img style="width: 100%;height: 100%;" src="{{list.src}}" alt="">
							</li>
						</ul>
						<ul class="different" v-if="item.id == 'forth_kind'">
							<li style="float: left;width: 50%;height:100%;cursor: pointer; " v-for="list in item.imglist">
								<img style="width: 100%;height: 100%;" src="{{list.src}}" alt="">
							</li>
						</ul>
					</div>
				</li>
			</ul>
			<div id="lunbo_pre2" style="margin-left: 0px;" class="lunbo_conmon1">
				<i class="icon iconfont">&#xe779;</i>
			</div>
			<div id="lunbo_next2" style="margin-left: 495px" class="lunbo_conmon1">
				<i class="icon iconfont">&#xe775;</i>
			</div>
			<ul class="lunbo_point1">
				<li class="lunbo_six"></li>
				<li class="lunbo_six"></li>
				<li class="lunbo_six"></li>
				<li class="lunbo_six"></li>
				<li class="lunbo_six"></li>
				<li class="lunbo_six"></li>

			</ul>
		</div>
		<div class="jinriremai">今日热卖</div>
		<div style="position: absolute;margin-top: -160px;margin-left: 730px;cursor: pointer;">
			<img src="img/baopinjuhui.jpg" alt="">
		</div>
		<div class="third_line_right_top">
			<div style="width: 60px;height: 60px;margin-left: auto;margin-right: auto;" >
				<img style="border-radius: 60px;width: 100%;height: 100%;" src="img/daibiyuanlian.jpg" alt="">
			</div>
			<div style="text-align: center;font-size: 12px;margin-top: 2px;">Hi! 你好</div>
			<div style="float: left;margin-top: 3px;width: 100%;">
							<div style="float: left;width: 16px;height: 16px;margin-left: 40px;cursor: pointer;"><img style="width: 100%;height: 100%;float: left;" src="img/coin.png" alt=""></div>
							<div style="float: left;font-size: 12px;margin-left: 3px;color: #FF2400;cursor: pointer;">领淘金币抵钱</div>
							<div style="float: left;font-size: 12px;margin-left: 3px;">或去</div>
							<div style="float: left;font-size: 12px;margin-left: 3px;color: #FF2400;cursor: pointer;">会员俱乐部</div>

			</div>
			<div class="three_button">
				<div class="sange_button">登录</div>
				<div class="sange_button">注册</div>
				<div class="sange_button">开店</div>
			</div>

		</div>
		<div class="five_lanmu">
			<ul style="padding: 0 8px 0 8px;height: 24px;width: 292px;margin-top: 15px;">
				<li class="wuge_lanmu">公告</li>
				<li class="wuge_lanmu">规则</li>
				<li class="wuge_lanmu">论坛</li>
				<li class="wuge_lanmu">安全</li>
				<li class="wuge_lanmu">公益</li>
			</ul>
			<div class="content">

				<ul id="third_line_center_bottom_fuck1" class="five_content">
					<li class="five_content_in" v-for="item in items" style="display: {{item.display}};">
						<div style="margin:10px;width: 270px;height: 50px;position: absolute;">
							<ul   style="margin-left: 10px;">
								<li v-for="list in item.imglist" style="float: left;width: {{list.width}}; margin-top: 5px;"> 
									<a href="" style="color:{{list.color}};">{{list.content}}</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>

			</div>
			<div class="right_twelve">
				<ul class="twelve">
					<li class="twelve_min" v-for="item in items">
						<a href="" style="text-align: center;display: block;">
							<img style="width: 24px;height: 24px;margin-top: 11px;" src="{{item.src}}" alt="">
							<p style="color: #666;font-size: 12px;margin-top: 2px;">{{item.message}}</p>
						</a>
					</li>
				</ul>
				<ul class="four_content_ul1">
					<li class="four_content_li1" v-for="item in item1">
						<ul class="four_content_ultitle">
							<li class="four_content_lititle" v-for="name in item.title">
								<a href="" style="color: #666;font-size: 12px;">{{name.biaoti}}</a>
							</li>
						</ul>
						<div class="outout">
							<div class="out" >
								<ul class="four_content_ul2">
									<li class="four_content_li2" v-for="neirong in item.content">
										<div class="shurukuang">
											<input type="text"  placeholder="请输入手机号码" class="shuru" >
											<i  style="position: absolute;margin-top: -3px;font-size: 16px;" class="icon iconfont">&#xe60b;</i>	
										</div>
										<div class="jiage">
											<div class="jiage1">50元</div>
											<i id="zhanshihuafei" style="position: absolute;cursor: pointer;font-size: 16px;margin-left: 3px;"class="fa fa-angle-down"></i>
										</div>
										<ul class="inhangdehuafei">
											<li v-for="huafei in neirong.qian" class="incanghuafeili">
												{{huafei.jutihuafei}}
											</li>
										</ul>
									</li>
									<div style="height: 17px;margin-top: 6px;margin-bottom: 6px;float: left;position: absolute;">
										<p style="color: #666;font-size: 12px;float: left;margin-top: 5px;">售价 ￥</p>
										<p id="youhui" style="color:  #ff6537;float: left;font-size: 12px;margin-top: 5px;font-weight: 900;">49-49.8</p>
									</div>
									<div class="chongzhi" >立即充值</div>
								</ul>
								<ul class="four_content_ul2">
									<li class="four_content_li2" v-for="neirong in item.content">
										<div class="shurukuang">
											<input type="text"  placeholder="请输入手机号码" class="shuru" >
											<i  style="position: absolute;margin-top: -3px;font-size: 16px;" class="icon iconfont">&#xe60b;</i>	
										</div>
										<div class="liuliang">
											<div class="liuliang1">本地流量</div>
											<i id="zhanshihuafei" style="position: absolute;cursor: pointer;font-size: 16px;margin-left: 3px;"class="fa fa-angle-down"></i>
										</div>
										<div class="liuliang">
											<div class="liuliang1">500M</div>
											<i id="zhanshihuafei" style="position: absolute;cursor: pointer;font-size: 16px;margin-left: 3px;"class="fa fa-angle-down"></i>
										</div>
										<div style="margin-top: 26px;"> 
											<div style="height: 17px;margin-top: 6px;margin-bottom: 6px;float: left;position: absolute;">
												<p style="color: #666;font-size: 12px;float: left;margin-top: 5px;">售价 ￥</p>
												<p id="youhui" style="color:  #ff6537;float: left;font-size: 12px;margin-top: 5px;font-weight: 900;">49-49.8</p>
											</div>
											<div class="chongzhi" >立即充值</div>
										</div>
									</li>
								</ul>
								<ul class="four_content_ul2">
									<li class="four_content_li2" v-for="neirong in item.content">
										<input type="radio" name="dianxinliantong"><span>电信</span>
										<input type="radio" name="dianxinliantong" style="margin-left: 25px;" ><span>联通</span>
										<div class="shurukuang" style="margin-top: 5px;">
											<input type="text"  placeholder="区号" style="padding-left: 3px;line-height: 18px;border-width: 0;height: 18px;width: 30px;float: left;" >
											<span style="float: left;">-</span>
											<input type="text"  placeholder="号码（不支持小灵通）" style="padding-left: 3px;line-height: 18px;border-width: 0;height: 18px;width: 120px;float: left;" >
											<i  style="position: absolute;margin-top: -3px;font-size: 16px;" class="icon iconfont">&#xe60b;</i>	
										</div>
										<div class="jiage">
											<div class="jiage1">50元</div>
											<i id="zhanshihuafei" style="position: absolute;cursor: pointer;font-size: 16px;margin-left: 3px;"class="fa fa-angle-down"></i>
										</div>
										<div style=""> 
											<div class="chongzhi" style="margin-top: 5px;position: relative;">立即充值</div>
											<div style="height: 17px;margin-top: 6px;margin-bottom: 6px;float: left;margin-left: 30px;">
												<p style="color: #666;font-size: 12px;float: left;margin-top: 5px;">售价 ￥</p>
												<p id="youhui" style="color:  #ff6537;float: left;font-size: 12px;margin-top: 5px;font-weight: 900;">49-49.8</p>
											</div>
										</div>
									</li>
								</ul>
								<ul class="four_content_ul2">
									<li class="four_content_li2" v-for="neirong in item.content">
										<div class="jiage">
											<div class="jiage1">联通/城市</div>
											<i id="zhanshihuafei" style="position: absolute;cursor: pointer;font-size: 16px;margin-left: 3px;"class="fa fa-angle-down"></i>
										</div>
										<div class="shurukuang">
											<input type="text"  placeholder="请输入手机号码" class="shuru" >
											<i  style="position: absolute;margin-top: -3px;font-size: 16px;" class="icon iconfont">&#xe60b;</i>	
										</div>
										<div class="jiage">
											<div class="jiage1">50元</div>
											<i id="zhanshihuafei" style="position: absolute;cursor: pointer;font-size: 16px;margin-left: 3px;"class="fa fa-angle-down"></i>
										</div>
										<div style=""> 
											<div class="chongzhi" style="margin-top: 5px;position: relative;">立即充值</div>
											<div style="height: 17px;margin-top: 6px;margin-bottom: 6px;float: left;margin-left: 30px;">
												<p style="color: #666;font-size: 12px;float: left;margin-top: 5px;">售价 ￥</p>
												<p id="youhui" style="color:  #ff6537;float: left;font-size: 12px;margin-top: 5px;font-weight: 900;">49-49.8</p>
											</div>
										</div>
									</li>
								</ul>

							</div>
						</div>
					</li>
					<li class="four_content_li1"></li>
					<li class="four_content_li1"></li>
					<li class="four_content_li1"></li>
				</ul>
			</div>
		</div>
		<div class="bottom_five">
				<div class="five_picture" style="margin-left: 4px;"><img src="img/61.png" alt=""></div>
				<div class="five_picture"><img src="img/62.png" alt=""></div>
				<div class="five_picture"><img src="img/63.png" alt=""></div>
				<div class="five_picture"><img src="img/64.png" alt=""></div>
				<div class="five_picture"><img src="img/65.png" alt=""></div>
		</div>
		<div class="last">
		<div style="height: 20px;">
			<div style="float: left;font-weight: 900;">阿里APP</div>
			<div class="second_bottom_more" style="float: right; cursor: pointer;color: #000000;">
					<a href="" style="margin-left: 17px; color: rgb(0, 0, 0);" class="second_bottom_content">更多</a>
					<i style="margin-left: -3px; font-size: 12px; color: rgb(0, 0, 0);" class="icon iconfont"></i>	
			</div>
		</div>
			<ul class="picture_12">
				<li class="picture_element" v-for="item in items">
					<img src="{{item.src}}" alt="" style="width: 32px;height: 32px;">
				</li>
			</ul>
		</div>
	</div>
	<a href="PPT.html"><img src="img/jinguanzhang.jpg" alt=""></a>
</body>
<script src="js/jquery-2.0.2.min.js" type="text/javascript"></script>
<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/vue.js" type="text/javascript"></script>
<script src="js/newwork.js" type="text/javascript"></script>
<script src="js/data.js" type="text/javascript"></script>

</html>


