.zhuce{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.mainscreen{
	margin-top: 15%;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	height: 350px;
}
.btn-position1{
	color: #fff;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(70,175,95,0.9);
    border-color: rgba(70,175,95,0.9);
}
.carousel-indicators li {
    background-color: #DBDBDB;
}
.carousel-indicators .active {
    background-color: #AAAAAA;
}
.btn-position2{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.carousel-indicators {
    bottom: -100px;
}
#nav-bar {
	width: 100%;
	background-color: rgba(10,10,10,0.15);
	height: 75px;
	position: absolute;
	top: 0px;
}
.touxiang{
	width: 100px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
}